---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ContentSection from "../components/ContentSection.astro";
import ReactCarousel from "../components/carousel/reactCarousel.jsx";
import CarouselItem from "../components/carousel/carouselItem.astro";
import ProgramCard from "../components/ProgramCard.astro";
import EventCard from "../components/EventCard.astro";
import Person from "../components/Person.astro";
import SponsorSection from "../components/sections/SponsorSection.astro"
import ImageSection from "../components/sections/ImageSection.astro";
import ImageItem from "../components/sections/ImageItem.astro";
import Footer from "../components/Footer.astro";
import GoToTopBtn from "../components/GoToTopBtn.astro";

import { Image } from "astro:assets";

// announcements
import banner from "../media/images/announcements/banner.webp"
import d1 from "../media/images/announcements/1.webp"
import d2 from "../media/images/announcements/2.webp"
import d3 from "../media/images/announcements/3.webp"
import d4 from "../media/images/announcements/4.webp"
import d5 from "../media/images/announcements/5.webp"
import d6 from "../media/images/announcements/6.webp"
import d7 from "../media/images/announcements/7.webp"
import d8 from "../media/images/announcements/8.webp"
import d9 from "../media/images/announcements/9.webp"
import d10 from "../media/images/announcements/10.webp"
import d11 from "../media/images/announcements/11.webp"
import d12 from "../media/images/announcements/12.webp"

// old events
import dgyz24 from "../media/images/old-events/dgyz24.webp"
import yg24 from "../media/images/old-events/yg24.webp"
import biz19 from "../media/images/old-events/biz19.webp"
import k18 from "../media/images/old-events/k18.webp"
import biz18 from "../media/images/old-events/biz18.webp"
import biz17 from "../media/images/old-events/biz17.webp"
import biz15 from "../media/images/old-events/biz15.webp"

// people
import muratTopaloglu from "../media/images/people/murat_topaloglu.webp"
import egemenTekkanat from "../media/images/people/egemen_tekkanat.webp"
import harunOzkisi from "../media/images/people/harun_ozkisi.webp"
import onurKara from "../media/images/people/onur_kara.webp"
import arifTolgaDemirel from "../media/images/people/arif_tolga_demirel.webp"
import emirhanNarin from "../media/images/people/emirhan_narin.webp"
import canerYildiz from "../media/images/people/caner_yildiz.webp"
import enesPinar from "../media/images/people/enes_pinar.webp"
import kaanMutlu from "../media/images/people/kaan_mutlu.webp"
import aliEnsarAktas from "../media/images/people/ali_ensar_aktas.webp"
import edaPinarbasi from "../media/images/people/eda_pinarbasi.webp"
import esmaBorklu from "../media/images/people/esma_borklu.webp"
import selamiOzcan from "../media/images/people/selami_ozcan.webp"
import yarenBarni from "../media/images/people/yaren_barni.webp"

// sponsors
import renkasLogo from "../media/images/sponsors/renkas.svg"
import bendisAvmLogo from "../media/images/sponsors/bendisavm.svg"
import sapciAkaryakitLogo from "../media/images/sponsors/sapci-akaryakit.svg"
import evrenUnLogo from "../media/images/sponsors/evrenun.svg"
import canMedikalLogo from "../media/images/sponsors/canmedikal.svg"
import craftDijitalLogo from "../media/images/sponsors/craftdijital.svg"
import batiReklamLogo from "../media/images/sponsors/batireklam.webp"
import goletLogo from "../media/images/sponsors/golet.webp"
import dilimsPizzaLogo from "../media/images/sponsors/dilimspizza.svg"
import kesanBelLogo from "../media/images/sponsors/kesanbelediyesi.svg"
import kesantsoLogo from "../media/images/sponsors/kesantso.svg"

// donators
import gesatLogo from "../media/images/donators/gesat.svg"
import innovaLogo from "../media/images/donators/innova.svg"
import kilifDunyasiLogo from "../media/images/donators/kilifdunyasi.svg"
import pyramidEsporLogo from "../media/images/donators/pyramidespor.svg"
import turkcellDolunayIletisimLogo from "../media/images/donators/turkcelldolunayiletisim.svg"
import obaliogluLogo from "../media/images/donators/obalioglu.svg"
import promasLogo from "../media/images/donators/promas.svg"
import komageneLogo from "../media/images/donators/komagene.svg"
import tadimLogo from "../media/images/donators/tadim.svg"
import pastalinaLogo from "../media/images/donators/pastalina.svg"
import yesilbursaLogo from "../media/images/donators/yesilbursa.svg"

//timeline
import dayOne from "../media/images/timeline/1.webp"
import dayOneTimeline from "../media/images/timeline/1-timeline.webp"
import dayTwo from "../media/images/timeline/2.webp"
import dayTwoTimeline from "../media/images/timeline/2-timeline.webp"
import dayThree from "../media/images/timeline/3.webp"
import dayThreeTimeline from "../media/images/timeline/3-timeline.webp"

---

<Layout title="BİZ2024" description="Bilişim ve İnovasyon Zirvesi 2024">
	<Header />
	<div class="relative w-full">
		<div class="bg-trans w-full absolute h-[200px] top-[-85px]"></div>
	</div>
	<div class="flex flex-col mx-auto my-0 max-w-screen-2xl">
		<ContentSection href="program" title="Program">
			<div class="flex flex-wrap items-center justify-evenly">
				<ProgramCard
					name="1. Gün"
					lbid="timelineOne"
					desc="Etkinliğin ilk gününün programı"
					src={dayOne}
					src2={dayOneTimeline} />
				<ProgramCard
					name="2. Gün"
					lbid="timelineTwo"
					desc="Etkinliğin ikinci gününün programı"
					src={dayTwo}
					src2={dayTwoTimeline} />
				<ProgramCard
					name="3. Gün"
					lbid="timelineThree"
					desc="Etkinliğin üçüncü gününün programı"
					src={dayThree}
					src2={dayThreeTimeline}/>
			</div>
		</ContentSection>
		<ContentSection href="duyurular" title="Duyurular">
			<div class="flex flex-col items-center justify-center">
				<ReactCarousel client:visible >
					<CarouselItem src={banner} alt="Bilişim ve İnovasyon Zirvesine Davetlisiniz" slot="1"/>
					<CarouselItem src={d1} alt="Bilişim ve İnovasyon Zirvesine Davetlisiniz" slot="2"/>
					<CarouselItem src={d2} alt="Bilişim ve İnovasyon Zirvesine Davetlisiniz" slot="3"/>
					<CarouselItem src={d3} alt="Bilişim ve İnovasyon Zirvesine Davetlisiniz" slot="4"/>
					<CarouselItem src={d4} alt="Bilişim ve İnovasyon Zirvesine Davetlisiniz" slot="5"/>
					<CarouselItem src={d5} alt="Bilişim ve İnovasyon Zirvesine Davetlisiniz" slot="6"/>
					<CarouselItem src={d6} alt="Bilişim ve İnovasyon Zirvesine Davetlisiniz" slot="7"/>
					<CarouselItem src={d7} alt="Bilişim ve İnovasyon Zirvesine Davetlisiniz" slot="8"/>
					<CarouselItem src={d8} alt="Bilişim ve İnovasyon Zirvesine Davetlisiniz" slot="9"/>
					<CarouselItem src={d9} alt="Bilişim ve İnovasyon Zirvesine Davetlisiniz" slot="10"/>
					<CarouselItem src={d10} alt="Bilişim ve İnovasyon Zirvesine Davetlisiniz" slot="11"/>
					<CarouselItem src={d11} alt="Bilişim ve İnovasyon Zirvesine Davetlisiniz" slot="12"/>
					<CarouselItem src={d12} alt="Bilişim ve İnovasyon Zirvesine Davetlisiniz" slot="13"/>
				</ReactCarousel>
			</div>
		</ContentSection>
		<ContentSection href="biz24" title="Bilişim ve İnovasyon Zirvesi 2024">
			<div class="px-14">
				<p class="text-xl font-light lg:text-2xl font-origsans text-center">
					Bilişim dünyasının öncü isimlerini bir araya getirmeye hazır
					mısınız?
				</p><br />
				<p class="text-lg md:text-xl font-origsans font-light">
					Tübit Kulübü olarak düzenlediğimiz BİZ24 etkinliği, bilişim
					inovasyonunun kalbinde üç gün boyunca sizlerle olacak.
					<strong>14-15-16 Mayıs</strong> tarihlerinde gerçekleşecek zirvemizde,
					sektörün önde gelen yazılımcıları ilk iki günü dolduracak. Üçüncü
					gün ise okulumuzun değerli mezunlarının katılımıyla taçlanacak.<br
					/><br />
					Etkinliğimiz, yarışma alanları ve proje sergileriyle dopdolu olacak.
					Bilişim dünyasının en yeni ve heyecan verici projelerini keşfetmek
					için bu alanları ziyaret etmeyi unutmayın. Ayrıca, konferans salonumuzda
					düzenlenecek seminerlerde, gelen katılımcılarımız bilişim dünyasındaki
					en güncel gelişmeleri uzmanlardan dinleme fırsatı bulacaklar.<br
					/><br />
					BİZ24 etkinliği, bilişimdeki son trendleri yakından takip etmek isteyen
					herkes için bir fırsat. <u>Kayıt olmayı unutmayın</u> ve bilişim
					dünyasının öncülerini bir araya getiren bu zirvede bizimle birlikte
					olun!
				</p>
				<div class="flex justify-center pt-10">
					<a class="text-center text-2xl bg-[#243D8F] text-white w-full max-w-80 py-7 px-14
					 rounded-md hover:transform hover:scale-105 transition-all active:bg-[#0080FF]"
					 href="https://forms.gle/WYaTzghgAvFHBjJ6A">Kayıt Ol</a>
				</div>
			</div>
		</ContentSection>
		<ContentSection href="ekibimiz" title="Ekibimiz">
			<div class="flex flex-wrap items-center justify-evenly">
				<Person name="Arif Tolga DEMİREL" desc="Başkan" src={arifTolgaDemirel} />
				<Person name="Emirhan NARİN" desc="Başkan Yrd." src={emirhanNarin} />
				<Person name="Caner YILDIZ" desc="İletişim Başkanı" src={canerYildiz} />
				<Person name="Yaren BARNİ" desc="İletişim Başkan Yrd." src={yarenBarni} />
				<Person name="Enes PINAR" desc="BST Akademi Başkanı" src={enesPinar} />
				<Person name="Kaan MUTLU" desc="Sosyal Medya" src={kaanMutlu} />
				<Person name="Ali Ensar Aktaş" desc="Sponsorluk" src={aliEnsarAktas} />
				<Person name="Eda PINARBAŞI" desc="Organizasyon" src={edaPinarbasi} />
				<Person name="Esma BÖRKLÜ" desc="Organizasyon" src={esmaBorklu} />
				<Person name="Selami ÖZCAN" desc="Organizasyon" src={selamiOzcan} />
			</div>
		</ContentSection>
		<ContentSection title="Yönetim">
			<div class="flex flex-wrap items-center justify-evenly">
				<Person name="Murat TOPALOĞLU" desc="Doç. Dr." src={muratTopaloglu} />
				<Person name="Egemen TEKKANAT" desc="Dr. Öğr. Üyesi" src={egemenTekkanat} />
				<Person name="Harun ÖZKİŞİ" desc="Dr. Öğr. Üyesi" src={harunOzkisi} />
				<Person name="Onur KARA" desc="Öğr. Gör." src={onurKara} />
			</div>
		</ContentSection>
		<ContentSection href="sponsorlar" title="Sponsorlar">
			<div class="flex flex-col items-center justify-center w-full">
				<ImageSection name="Ana Sponsorlar" class="text-transparent bg-gradient-to-r from-purple-500 via-pink-500 to-yellow-500 bg-clip-text w-fit">
					<ImageItem src={renkasLogo} alt="Renkas"/>
					<ImageItem src={bendisAvmLogo} alt="Bendis AVM"/>
				</ImageSection>
				<div class="flex flex-wrap items-center justify-around">
					<SponsorSection name="Altın" class="text-yellow-400">
						<ImageItem src={sapciAkaryakitLogo} alt="Şapçı Akaryakıt" />
					</SponsorSection>
					<SponsorSection name="Gümüş" class="text-zinc-400">
						<ImageItem src={evrenUnLogo} alt="Evren Un" />
					</SponsorSection>
					<SponsorSection name="Bronz" class="text-orange-300">
						<ImageItem src={canMedikalLogo} alt="Can Medikal" />
						<ImageItem src={craftDijitalLogo} alt="CRAFTDİJİTAL" />
						<ImageItem src={batiReklamLogo} alt="Batı Reklam" />
					</SponsorSection>
				</div>
				<ImageSection name="Yemek Sponsorları" class="text-white">
					<ImageItem src={goletLogo} alt="Gölet" />
					<ImageItem src={dilimsPizzaLogo} alt="Dilim's Pizza" />
				</ImageSection>
			</div>
		</ContentSection>
		<ContentSection title="Destek Sağlayan Kurumlar">
			<div class="flex flex-wrap items-center justify-evenly w-full">
				<Image class="my-10 mx-16 w-60 min-h-60 max-h-60" src={kesanBelLogo} alt={"Keşan Belediyesi"} />
				<Image class="my-10 mx-16 w-60 min-h-60 max-h-60" src={kesantsoLogo} alt={"Keşan Ticaret ve Sanayi Odası"} />
			</div>
		</ContentSection>
		<ContentSection title="Katkıda Bulunanlar">
			<div class="flex flex-wrap items-center justify-evenly w-full">
				<Image class="my-10 mx-16 w-60 min-h-60 max-h-60" src={turkcellDolunayIletisimLogo} alt={"Turkcell Dolunay İletişim"} />
				<Image class="my-10 mx-16 w-60 min-h-60 max-h-60" src={innovaLogo} alt={"İnnova Spor Salonu"} />
				<Image class="my-10 mx-16 w-60 min-h-60 max-h-60" src={pyramidEsporLogo} alt={"PYRAMID E-SPOR"} />
				<Image class="my-10 mx-16 w-60 min-h-60 max-h-60" src={promasLogo} alt={"PROMAS MATBAA PROMOSYON REKLAM"} />
				<Image class="my-10 mx-16 w-60 min-h-60 max-h-60" src={tadimLogo} alt={"TADIM PASTA & CAFE"} />
				<Image class="my-10 mx-16 w-60 min-h-60 max-h-60 object-contain" src={komageneLogo} alt={"Komagene Etsiz Çiğköfte"} />
				<Image class="my-10 mx-16 w-60 min-h-60 max-h-60 object-contain" src={gesatLogo} alt={"Gesat Bay/Bayan Spor Merkezi"} />
				<Image class="my-10 mx-16 w-60 min-h-60 max-h-60 object-contain" src={obaliogluLogo} alt={"Obalıoğlu Peynircilik"} />
				<Image class="my-10 mx-16 w-60 min-h-60 max-h-60" src={kilifDunyasiLogo} alt={"Kılıf Dünyası Keşan"} />
				<Image class="my-10 mx-16 w-60 min-h-60 max-h-60" src={pastalinaLogo} alt={"Pastalina Patisserie"} />
				<Image class="my-10 mx-16 w-60 min-h-60 max-h-60" src={yesilbursaLogo} alt={"Yeşil Bursa İskender Kebap Salonu"} />
			</div>
		</ContentSection>
		<ContentSection href="etkinlikler" title="Önceki Etkinliklerimiz">
			<div class="flex flex-wrap items-center justify-evenly">
				<EventCard lbid="old-events" desc="Dijital Genç Yapay Zeka Ekosistemi Tanışma Toplantısı 2024" src={dgyz24} />
				<EventCard lbid="old-events" desc="Yazılımcılıktan Girişimciliğe 2024" src={yg24} />
				<EventCard lbid="old-events" desc="Bilişim ve İnovasyon Zirvesi 2019" src={biz19} />
				<EventCard lbid="old-events" desc="Kariyer Günleri 2018" src={k18} />
				<EventCard lbid="old-events" desc="Bilişim ve İnovasyon Zirvesi 2018" src={biz18} />
				<EventCard lbid="old-events" desc="Bilişim ve İnovasyon Zirvesi 2017" src={biz17} />
				<EventCard lbid="old-events" desc="Bilişim ve İnovasyon Zirvesi 2015" src={biz15} />
			</div>
		</ContentSection>
	</div>
	<Footer />
	<GoToTopBtn />
</Layout>

<style>
	.bg-trans {
		background: rgb(0,0,0);
		background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(24,24,24,1) 50%, rgba(0,0,0,0) 100%);
	}
</style>

<script src="../js/fslightbox.js"></script>
